body{
	text-align: center;
}
#puzzle-table{
	border: 10px solid black;
	width: 400px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	font-size: 300%;
}
#slot-16{
	background-color: black;
}
#shuffle-board{
	margin-top: 5%;
	margin-left: 40%;
	margin-right: 40%;
	width: 20%;

}